body {
  font-family: 'Raleway';
  background-color: #f4f9ff;
}
.container {
  width: 100%;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}
nav div {
  display: inline-block;
}
nav {
  display: grid;
  grid-template-columns: 45% auto;
}
nav .left img{
  width: 50px;
}
nav .right img{
  width: 60px;
}
nav .right {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
nav a {
  max-width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  margin: auto 10px;
}
.banner {
  position: relative;
}
.banner img {
  width: 100%;
}
.textbanner .clb{
  position: absolute;
  top: 135px;
  left: 350px;
  font-size:medium;
}
.textbanner .vovinam {
  position: absolute;
  top: 120px;
  left: 290px;
  font-size:xxx-large;
  font-weight: bold;
  color: red;
}
footer {
  display: grid;
  grid-template-columns: 66% 34%;
}
footer div {
  width: 90%;
  /* padding: 15px; */
}

.row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.row img {
  width: 100%;
  margin-top: 13px;
  border-radius: 10px;
}
.row .big-img {
  padding-right: 0px;
}

.row div {
  padding-right: 15px;
}