body {
  font-family: 'Raleway';
  background-color: #f4f9ff;
}
.container {
  width: 100%;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}
nav div {
  display: inline-block;
}
nav {
  display: grid;
  grid-template-columns: 55% auto;
}
nav .left img{
  width: 50px;
}
nav .right img{
  width: 60px;
}
nav .right {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
a {
  max-width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  margin: auto;
}
.banner {
  position: relative;
}
.banner img {
  width: 100%;
}
.textbanner {
  position: absolute;
  max-width: 100%;
  top: 0px;
  left: 196px;
  color: #daf6ff;
  font-size: small;
}
.textbanner p {
  position: absolute;
  top: 40px;
  left: 35px;
}
.textconten {
  
}
footer {
  display: grid;
  grid-template-columns: 66% 34%;
}
footer div {
  width: 90%;
  /* padding: 15px; */
}

.row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.row img {
  width: 100%;
  margin-top: 13px;
  border-radius: 10px;
}
.row .big-img {
  padding-right: 0px;
}

.row div {
  padding-right: 15px;
}