/* body {
  font-family: 'Raleway';
  background-color: #f4f9ff;
}
.container {
  width: 100%;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}
nav div {
  display: inline-block;
}
nav {
  display: grid;
  grid-template-columns: 55% auto;
} */

nav img {
  width: 50px;
}

nav img {
  width: 60px;
}

/*
nav .right {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
a {
  max-width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  margin: auto;
}
.banner img {
  width: 100%;
}
.textconten {
  
}
footer {
  display: grid;
  grid-template-columns: 66% 34%;
}
footer div {
  width: 90%;
}

.row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.row img {
  width: 100%;
  margin-top: 13px;
  border-radius: 10px;
}
.row .big-img {
  padding-right: 0px;
}

.row div {
  padding-right: 15px;
} */


/* For mobile phones: */


.textbanner {
  top: 0px;
  left: 5%;
  color: #daf6ff;
}
.textbanner h1{
  font-size: 1.5em;
}

.textbanner p {
  top: 30px;
  left: 0px;
  font-size: 0.8em;
}

@media only screen and (min-width: 768px) {

  /* For tablets: */
  .textbanner {
    top: 0px;
    left: 16%;
  }
  .textbanner h1{
    font-size: 2.0em;
  }

  .textbanner p {
    top: 40px;
    left: 25px;
    font-size: 1em;
  }
}

@media only screen and (min-width: 987px) {

  /* For desktop: */

  .textbanner {
    left: 25%;
  }
}